In [1]:
import pyforest
from sklearn.linear_model import LogisticRegression

In [2]:
d = pd.read_csv(r'C:\Users\Admin\Downloads\Iris.csv')
d

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
s = pd.get_dummies(d['Species'])
s

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [4]:
x = d['Species']
x

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [5]:
d = d.drop(['Id'], axis = 'columns')

In [6]:
d = d.drop(['Species'], axis = 'columns')
d

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(d, x)

In [9]:
reg = LogisticRegression()

In [10]:
reg.fit(X_train, y_train)

c:\users\admin\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [11]:
reg.score(X_train, y_train)

0.9910714285714286

In [12]:
reg.score(X_test, y_test)

0.9210526315789473

In [13]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
129            7.2           3.0            5.8           1.6
68             6.2           2.2            4.5           1.5
11             4.8           3.4            1.6           0.2
131            7.9           3.8            6.4           2.0
86             6.7           3.1            4.7           1.5
..             ...           ...            ...           ...
124            6.7           3.3            5.7           2.1
85             6.0           3.4            4.5           1.6
113            5.7           2.5            5.0           2.0
143            6.8           3.2            5.9           2.3
90             5.5           2.6            4.4           1.2

[112 rows x 4 columns]

In [14]:
d

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [15]:
y_train

129     Iris-virginica
68     Iris-versicolor
11         Iris-setosa
131     Iris-virginica
86     Iris-versicolor
            ...
124     Iris-virginica
85     Iris-versicolor
113     Iris-virginica
143     Iris-virginica
90     Iris-versicolor
Name: Species, Length: 112, dtype: object

In [16]:
reg.predict([[6.2, 3.4, 5.4, 2.3]])

array(['Iris-virginica'], dtype=object)